{% autoescape true %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <body>
        {% if user %}
            <form id="addQuoteForm" action="/do/addQuote" method="POST">
                <div class="form-group"><label>Quote:</label> <input name="quote" value="" class="form-control"></div>
                <div class="form-group"><label>Author:</label> <input name="author" value="" class="form-control"></div>
                <div class="form-group"><label>Category:</label> 
                    <div id="categorySelectContainer">
                        <select id="categorySelect" name="category" class="form-control">
                            <option value="none">Select a Category</option>
                            <option value="create">Create a Category</option>
                            <option value="none">-----------------</option>
                               {% for category in categories %}
                                    <option value="{{ category.name }}">{{ category.name }}</option>
                               {% endfor %}
                        </select>
                    </div>
                    <div id="categorySelectContainerJS">
                        <select id="categorySelect" name="category" class="form-control">
                            {% for category in categories %}
                                <option value="{{ category.name }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <div id="createCategory" class="form-group"><label>New Category:</label> <input name="newCategory" value="" class="form-control"></div>
                <button type="submit" class="btn btn-primary">Add Quote</button>
                {% if type != "me" %}
                    <a href="/me" class="btn btn-primary">Just My Quotes</a>
                {% else %}
                    <a href="/" class="btn btn-primary">Not Just My Quotes</a>
                {% endif %}
            </form>
        {% endif %}
        {% if cookie != "" %}
            <a href="/cookie/clear" class="btn btn-primary">Clear Hidden</a>
        {% endif %}
        
        <p />
        
        <p>
        QUOTE OF THE DAY:<br />
        {{ quoteOfTheDay }}
        </p>
        
        <b>Number of Quotes: {{ numberOfResults }}</b>
        
        <table class="table table-hover table-striped table-bordered">
           <tr>
                <td>Quote</td>
                <td class="authorCell"><a href="?sort=author&order={{ order }}">Author</a></td>
                <td class="categoryCell"><a href="?sort=categories&order={{ order }}">Category</a></td>
                <td class="dateCol"><a href="?order={{ order }}">Date</a></td>
                {% if user %}
                    <td class="actionCol">Action</td>
                {% endif %}
                <td class="hideCol"></td>
           </tr>
           {% for quote in quotes %}
                {% if quote.key.urlsafe() not in cookie %}
                <tr>
                    <td class="editableCell inputEditableCell quoteCell">
                        <div class="originalText">
                            {{ quote.quote }}
                        </div>
                    </td>
                    <td class="editableCell inputEditableCell authorCell">
                        <div class="originalText">
                            {{ quote.author }}
                        </div>
                    </td>
                    <td class="editableCell categoryCell">
                        <div class="originalText">
                            {{ quote.key.parent().get().name }}
                        </div>
                    </td>
                    <td class="dateCol">{{ quote.createdTime.strftime("%m-%d-%y") }}</td>
                    {% if user %}
                        <td class="actionCol">
                            {% if user.user_id() in adminIDs or user.user_id() == quote.userID %}
                                <form class="editQuoteForm" action="/do/editQuote" method="POST">
                                    <input type="hidden" name="key" value="{{ quote.key.urlsafe() }}" />
                                    <input type="hidden" name="quote" />
                                    <input type="hidden" name="author" />
                                    <input type="hidden" name="category" />
                                    <button type="button" class="btn btn-danger editCancelButton">Cancel</button>
                                    <button type="button" class="btn btn-success editSubmitButton">Submit</button>
                                </form>
                                <div class="formButtons">
                                    <button type="button" class="btn btn-info quoteEditButton">Edit</button>
                                    <a href="/do/deleteQuote?key={{ quote.key.urlsafe() }}" class="btn btn-danger">Delete</a>
                                </div>
                            {% endif %}
                        </td>
                    {% endif %}
                    <td class="hideCol">
                        <a href="/cookie/hide/{{ quote.key.urlsafe() }}" class="btn btn-danger">Hide</a>
                    </td>                    
                </tr>
                {% endif %}
           {% endfor %}
        </table>
    </body>
{% endautoescape %}
