{% autoescape true %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <body>
        <div id="addMessage" class="bg-info">
            <b>{{ messageText }}</b>
            </p>
            <a href="/" class="btn btn-success btn-lg">Go Home</a>
        </div>
    </body>
{% endautoescape %}
