html, body {
    padding: 10px;
}
#categorySelectContainerJS {
    display: none;
}
#addQuoteForm, #searchForm {
    width: 400px;
}
.editQuoteForm {
    display: none;
    margin: 0;
}
#createCategory {
    display: none;
}
#addMessage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(51, 122, 183);
}
table td a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
table .dateCol {
    width: 140px;
}
table .authorCell {
    width: 160px;
}
table .categoryCell {
    width: 100px;
}
table .actionCol {
    width: 172px;
}
table .actionCol button, table .actionCol a {
    width: 75px;
}
table .hideCol {
    width: 75px;
}
table .hideCol a {
    height: auto;
}
table .originalText {
    display: inline-block;
}
table .formInput {
    width: 100%;
}
table .formInput input {
    width: 100%;
}